# Archivos y carpetas de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno virtual
venv/
.env/

# Archivos de configuración locales o sensibles
.env
*.db

# Archivos de registro o logs
*.log

# Configuración específica de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos y carpetas temporales
*.tmp
*.bak
*.swp
*.lock